{% extends "app/base.html" %}
{% load static %}

{% block title %}
  User Profile
{% endblock title %}

{% block main-content %}

  <div class="container">
    <h1 class="h5">User Profile</h1>

    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card">
          {% if request.user.userprofile.profil_photo %}
          <div class="d-flex justify-content-center">
          <img src="{{ request.user.userprofile.profil_photo.url }}"  class="rounded-circle card-img-top my-2" style="width: 200px; height: 200px; object-fit: cover;" alt="{{ request.user.username }}">

          </div>
            
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">User Information</h5>
            <p><strong>Name:</strong> {{ request.user.username }}</p>
            <p><strong>Email:</strong> {{ request.user.email }}</p>
            <p><strong>Phone Number:</strong> {{ request.user.userprofile.phone_number }}</p>
            <p><strong>Address:</strong> {{ request.user.userprofile.address }}</p>
            
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Order History</h5>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Order Number</th>
                  <th>Date</th>
                  <th>Total Amount</th> 
                  <!-- Add more table headers as needed -->
                </tr>
              </thead>
              <tbody>
                  {% if order %}
                      {% for order in order %}
                          <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ order.created }}</td>
                              <td>₹{{ order.total_paid }}</td>
               
                              <!-- Add more order details as needed -->
                          </tr>
                      {% endfor %}
                  {% else %}
                      <tr>
                          <td colspan="4">No orders yet.</td>
                      </tr>
                  {% endif %}
              </tbody>
              
            
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main-content %}
