<!-- admin_add_coupon.html -->

{% extends "admin/admin_dsh.html" %}

{% block main %}
<div class="module ">
    <h2>Add Coupon</h2>
    <form method="post" action="{% url 'add_coupon_admin' %}" class="col-md-6 mx-auto p-4 shadow">
        {% csrf_token %}
        <div class="mb-3">
            <label for="coupon_name" class="form-label">Coupon Name:</label>
            <input type="text" name="coupon_name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="code" class="form-label">Coupon Code:</label>
            <input type="text" name="code" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="discount" class="form-label">Discount:</label>
            <input type="text" name="discount" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="expire_date" class="form-label">Expiration Date:</label>
            <input type="date" name="expire_date" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="coupon_type" class="form-label">Coupon Type:</label>
            <select name="coupon_type" class="form-select" required>
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="min_purchase_amount" class="form-label">Min Purchase Amount:</label>
            <input type="text" name="min_purchase_amount" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Add Coupon</button>
    </form>
</div>
{% endblock %}