{% extends "app/base.html" %}
{% load static %}

{% block title %}
User Address
{% endblock title %}

{% block main-content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
  {{ message }}
</div>
{% endfor %}
<div class="container shadow p-3 mb-5 bg-white rounded">
  <div class="row">
    <div class="col-md-8">
      <h2>Your Addresses</h2>

      <div class="col-md-12">
        {% for address in billing_address %}
        <div class="card d-flex justify-content-between align-items-center" style="width: 18rem; margin-bottom: 10px;">
          <div>

            <p><strong>Customer Name:</strong> {{ address.full_name }}</p>
            <p><strong>Email:</strong> {{ address.user.email }}</p>
            <p><strong>Address:</strong> {{ address.address1 }}</p>
            <p><strong>Address 2:</strong> {{ address.address2 }}</p>
            <p><strong>State:</strong> {{ address.city }}</p>
            <p><strong>Postcode:</strong> {{ address.post_code }}</p>
            <!-- Add more fields as needed -->
          </div>

          <div class="d-flex">
            <!-- Edit button -->
            <a href="{% url 'payment:edit_address' address.id  %}" class="btn btn-warning btn-sm">Edit</a>
            &nbsp;
            <!-- Delete button -->
            {% if not address.flag %}
            <a href="{% url 'payment:delete_address' address.id %}" class="btn btn-danger btn-sm">Delete</a>
            &nbsp;

            <a href="{% url 'payment:address_active' address.id  %}" class="btn btn-primary btn-sm">Make active</a>


            {% endif %}
          </div>
          <br>
        </div>
        {% endfor %}
        <a href="{% url 'payment:add_address' %}" class="btn btn-success btn-sm">Add Address</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Order Summary</h5>

          <!-- Display cart items -->
          <table class="table ">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>

              </tr>
            </thead>
            <tbody>
              {% for item in basket %}
              {% with product=item.product %}
              <tr>
                <!-- Small product image -->
                <td>
                  <img class="img-fluid mx-auto d-block" alt="Product Image" src="{{ product.image1.url }}"
                    style="max-width: 50px; max-height: 50px;">
                </td>

                <!-- Product details -->
                <td>
                  <p>{{ product.title }}</p>
                </td>

                <!-- Price -->
                <td>
                  <p> ₹{{ product.price }}</p>

                  <!-- Add your form here for delete action -->
                </td>
              </tr>
              {% endwith %}
              {% empty %}
              <tr>
                <td colspan="4">No items in the basket.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <p>Subtotal: ${{ basket.get_subtotal_price }}</p>
          <p>Shipping Price: ${{ shipping_price }}</p>
          <p>Total: ${{ basket.get_total_price }}</p>
          {% if discounted_total %}
            <p>Discounted Total: ${{ discounted_total }}</p>
        {% endif %}
          <!-- Payment method radio buttons -->
          <form action="{% url 'payment:address' %}" method="post">
            {% csrf_token %}
            {% if wallet_balense.balance >= basket.get_total_price %}
            <div class="form-check">
              <input type="radio" class="form-check-input" id="bankPayment" name="paymentMethod" value="wallet">
              <label class="form-check-label" for="bankPayment">Use your wallet</label>
            </div>
            {% endif %}
            <div class="form-check">
              <input type="radio" class="form-check-input" id="bankPayment" name="paymentMethod" value="UPI">
              <label class="form-check-label" for="bankPayment">UPI</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="codPayment" name="paymentMethod" value="cod">
              <label class="form-check-label" for="codPayment">Cash on Delivery</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Place Order</button>
          </form>
          <!-- Coupon input field -->
          <br>


          <!-- Place Order button -->
          <!-- Add this form to your checkout page -->
          <form method="post" action="{% url 'coupon_action' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="coupon_code" placeholder="Coupon Code"
                aria-label="Coupon Code" aria-describedby="applyCoupon">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="applyCoupon">Apply Coupon</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}